
<head>
    <title>Inverter</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
</head>

<body>

    <h1>Inverter</h1> 
        <div id="accordion"> 
            <h4>Data</h4>
                <div>
                    
                </div>
        </div>
    </div>

    <script>
        
        jQuery(function() {
            jQuery( "#accordion" ).accordion({
                collapsible: true,
                heightStyle: "fill"
            });
        });
      
    </script>
</body>